{% extends "head.html" %}

{% block head %}
<style media="screen" type="text/css">
#codeurl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 256px; 
    margin: 0;
    padding: 0;
}
</style>

<script type='text/javascript'>
//window.onload = function(){
//    elm = document.getElementById('codeurl');
//    elm.textContent = document.URL + elm.textContent;
//}
</script>
{% end %}

{% block content %}
<pre id='codeurl'>$namecode</pre>
{% end %}
