{% extends "head.html" %}

{% block head %}
<style media="screen" type="text/css">
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.pulse {
    animation-name: pulser;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes pulser {
    0%, 100% {opacity: 0.1;}
    50% {opacity: 1.0;}
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /*min-height: 546px;*/
}

#folder {
    cursor: pointer;
    fill: rgba(0,0,0,0.4);
    transition: fill 0.5s ease;
}

#folder:hover {
    transition: fill 0.5s ease;
    fill: rgba(0,0,0,0.6);
}

.drag {fill: rgba(0,0,0,0.6);}
.hidden {display: none !important;}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.4);
    padding: 7px;
}

#upload {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 26px;
    border: solid;
    border-color: white;
    border-width: 2px;
    color: white;
    padding: 10px 20px;
}

.backer {
    background-color: rgba(0,0,0,0.0);
    margin-top: 0px;
}

.formlbl {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 6px;
    text-align: center;
    height: 61px;
    line-height: 45px;
}

.textinput {
    height: 55px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(0,0,0,0.0);
    border: solid;
    border-color: rgba(255, 255, 255, 0.6);
    border-width: 2px;
    color: white;
}

#num {width: 45px;}
#key {width: 100px;}

#codeurl {
    font-size: 256px; 
    margin: 0;
    padding: 0;
}

#percent {
    font-size: 256px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>

<script type='text/javascript'>
var tests, fld, lbl, cod;
var busy = false;
var autosubmit = true;

function setlbl(val) {lbl.value = lbl.innerHTML = val;}
function setcode(val) {cod.value = cod.innerHTML = val;}

window.onload = function(){
    bdy = document.body;
    fld = document.getElementById('folder');
    cod = document.getElementById('codeurl');
    lbl = document.getElementById('percent');
    frm = document.getElementById('filearg');

    tests = {
        filereader: typeof FileReader != 'undefined',
        dnd: 'draggable' in document.createElement('span'),
        formdata: !!window.FormData,
        progress: "upload" in new XMLHttpRequest
    }; 

    if (tests.dnd) { 
        bdy.ondragover = function() {if (!busy) {fld.classList = ['drag'];} return false;};
        bdy.ondragend = function() {if (!busy) {fld.classList = [''];} return false;};
        bdy.ondrop = function(e) {
            e.preventDefault();
            frm.files = e.dataTransfer.files;

            if (autosubmit) readfiles();
        }
    }

    if (autosubmit) {
        func = function() {readfiles();};
        document.getElementById('upload').onclick = func;
        document.getElementById('filearg').onchange = func;
    }
}

function readfiles() {
    files = document.getElementById('filearg').files;

    if (files.length == 0 || busy)
        return;

    var formData = tests.formdata ? new FormData() : null;
    for (var i=0; i<files.length; i++) {
        if (tests.formdata)
            formData.append('file', files[i]);
    }

    if (tests.formdata) {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                document.getElementById('form').className = 'hidden';
                document.getElementById('buttons').className = '';
                setcode(xhr.responseText);
                cod.className = 'border';
                lbl.className = 'hidden';
                busy = false;
            }
            if (xhr.readyState == XMLHttpRequest.OPENED) {
                document.getElementById('form').className = '';
                document.getElementById('buttons').className = 'hidden';
                fld.classList = ['pulse'];
                cod.className = 'hidden';
                lbl.className = '';
                setlbl('0%');
                busy = true;
                debugger;
            }
        }

        if (tests.progress) {
            xhr.upload.onprogress = function (event) {
                if (event.lengthComputable) {
                    var complete = Math.floor(100*(event.loaded / event.total));
                    setlbl(complete+'%');
                }
            }
        }

        xhr.open('POST', '/?codeonly=true');
        xhr.send(formData);
    }
}
</script>
{% end %}

{% block content %}
<br/>
<div id='content' class=''>
<form enctype="multipart/form-data" action='/' method='post' id='form'>
    <input type='file' id='filearg' name='filearg' class='inputfile'/><br/>
    <label for='filearg'>
        <svg id='folder' width='512' height='420' viewBox='0 4 32 26'>
            <path d="M18 8l-4-4h-14v26h32v-22h-14zM16 15l7 7h-5v8h-4v-8h-5l7-7z"/>
            <pre id='percent' class='hidden'></pre>
        </svg>
    <span></span>
    </label>
    <br/>
    <div id='buttons'>
        <input id='upload' type='submit' value='Upload'>
        <div class='backer'>
            <label for='n' class='formlbl'>COUNT: </label>
            <input type='text' name='n' id='num' class='textinput' value=1>
        </div>
        <div class='backer'>
            <label for='key' class='formlbl'>KEY: </label>
            <input type='password' name='key' id='key' class='textinput' value=>
        </div>
    </div>
</form>
<pre id='codeurl' class='hidden'></pre>
</div>
{% end %}


